body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* form css */

.paypal-btn{
  width: 100%;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  padding-block: 7px;
  background-color: rgb(94, 206, 244);
  border-radius: 5px;
  color:green;
  cursor: pointer;
}

.paypal-btn:hover{
  background-color: aqua;
  color: black;
}